manifest {
    /* Homepage of project */
    homePage = 'https://github.com/lakinsm/summit-assembly'

    /* Description of project */
    description = 'IDBA-UD assembly of shotgun metagenomic data on Summit HPC server'

    /* Main pipeline script */
    mainScript = 'summit-assembly.nf'

    /* Default repository branch */
    defaultBranch = 'master'
}

env {
    /* Location of trimmomatic jar file */
    TRIMMOMATIC = '/opt/Trimmomatic-0.36'
}

singularity {
    /* Enables Singularity container execution by default */
    enabled = true

    /* Enable auto-mounting of host paths (requires user bind control feature enabled */
    autoMounts = true
}

params {
    /* Location of forward and reverse read pairs */
    reads = "containers/data/raw/*_R{1,2}_001.fastq.gz"

    /* Location of adapter sequences */
    adapters = "containers/data/adapters/nextera.fa"

    /* Location of tab delimited adapter sequences */
    fqc_adapters = "containers/data/adapters/nextera.tab"

    /* Output directory */
    output = ""

    /* Number of threads */
    threads = 24

    /* Trimmomatic trimming parameters */
    leading = 3
    trailing = 3
    slidingwindow = "4:15"
    minlen = 36

    /* Display help message */
    help = false
}

process {
    
    $QualityControl {
        maxForks=4
        threads=12
        container = 'shub://lakinsm/summit-assembly:latest'
        executor='slurm'
        memory='100GB'
        clusterOptions='--job-name=nxf_test --nodes=1 --qos=normal --partition=shas --ntasks=12 --time=2:00:00'
        module='jdk/1.8.0:singularity/2.5.2'
    }
    
    $AssembleReads {
        maxForks = 2
        threads = 24
        container = 'shub://lakinsm/summit-assembly:latest'
        executor='slurm'
        memory='200GB'
        clusterOptions='--job-name=nxf_test --nodes=1 --qos=normal --partition=shas --ntasks=24 --time=24:00:00'
        module='jdk/1.8.0:singularity/2.5.2'
    }
}

