manifest {
    /* Homepage of project */
    homePage = 'https://github.com/lakinsm/summit-assembly'

    /* Description of project */
    description = 'IDBA-UD assembly of shotgun metagenomic data on Summit HPC server'

    /* Main pipeline script */
    mainScript = 'summit-assembly.nf'

    /* Default repository branch */
    defaultBranch = 'master'
}

env {
    /* Location of trimmomatic jar file */
    TRIMMOMATIC = '/opt/Trimmomatic-0.36'
}

singularity {
    /* Enables Singularity container execution by default */
    enabled = true

    /* Enable auto-mounting of host paths (requires user bind control feature enabled */
    autoMounts = true
}

params {
    /* Location of forward and reverse read pairs */
    reads = "containers/data/raw/*_R{1,2}_001.fastq.gz"

    /* Location of adapter sequences */
    adapters = "containers/data/adapters/nextera.fa"

    /* Location of tab delimited adapter sequences */
    fqc_adapters = "containers/data/adapters/nextera.tab"

    /* Output directory */
    output = ""

    /* Number of threads */
    threads = 24

    /* Trimmomatic trimming parameters */
    leading = 3
    trailing = 3
    slidingwindow = "4:15"
    minlen = 36

    /* Display help message */
    help = false
}

process {
    executor='slurm'
    queue = 'quick'
    time = '5m'
    memory = '5GB'
    clusterOptions = '--job-name=nxf_test --nodes=1 --qos=testing --partition=shas-testing --output=nxf-test.%j.out'
    module = 'jdk/1.8.0:singularity/2.5.2'
    
    $QualityControl {
        maxForks = 1
        container = 'shub://lakinsm/summit-assembly:latest'
    }
    
    $AssembleReads {
        maxForks = 1
        container = 'shub://lakinsm/summit-assembly:latest'
    }
}

